# IDE
.idea/
.vscode/

# Python virtualenv
.venv/

# Superpowers / Claude internal
.claude/
.codegraph/
docs/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
